<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Torrent Stream</title>
</head>
<body>
    Welcome to tstream <br>
    Torrent Steaming with web seed hence no interrupt <br>
    <input type="text" id="hash" >
    <input type="submit" id="submit" ><br>
    <a href="/upload">upload video</a>
    <script src="/static/js/home.js"></script>
</body>
</html>