<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Streaming</title>
</head>
<body>
    <div class=".output"></div>
    <video src="#" id="video" controls autoplay></video>
    <a id="tag" href="#"></a>
<script src="https://cdnjs.cloudflare.com/ajax/libs/webtorrent/0.107.17/webtorrent.min.js"></script>
<script src="/static/js/stream.js"></script>
</body>
</html>